.sun-system-continue-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}
.sun-system-continue-box {
    padding: 15px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #95eac2;
}
.sun-system-continue-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.sun-system-continue-input {
    margin: 8px 5px;
    padding: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid;

    &.right {
        background-color: green;
    }

    &.mistake {
        background-color: red;
    }
}

.sun-system-continue-btn {
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 15px;
    border: none;
    background-color: #198754;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}